*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: aliceblue;
    font-family: sans-serif;
}
:root{
    --color:#ffb400 ;
    --white:#fff;
    --lightheme:#2f2d2d;
    --bgc:#111111;
    --bgc_light:#222222;
    --line:#252525;
    --percent: var(--value)
}
body{
    background-color: var(--bgc);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.loader{
    position: absolute;
    background-color: #1c1c1c;
    z-index: 50;
    height: 100dvh;
    width: 100vw;
}
.loader .color_yellow ,.color_yellow1 , .color_black ,.color_black1 {
    background:var(--color);
    height: 25dvh;
    box-shadow:20px -14px 14px var(--bgc);
    transform: translateX(100%);
    width: 100vw;
    transition: 1s;
}
.loader .up_yellow {
    background-color:var(--);
    box-shadow:10px -10px 24px var(--bgc);
    height: 100dvh;
    width: 15vw;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 10%;
}
.up_yellow1{
    background-color:var(--);
    height: 100dvh;
    box-shadow:10px -10px 24px var(--bgc);
    width: 15vw;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 40%;
}
.down_black{
    background-color:var(--);
    height: 100dvh;
    box-shadow:10px -10px 24px var(--bgc);
    width: 15vw;
    position: absolute;
    z-index: 3;
    top: 0%;
    left: 70%;
}
.loader .up_yellow,.down_black{
    animation: down 1s infinite  linear;
    transition: 1s;
}
.loader .up_yellow1{
    animation: downup 1s infinite  linear;
    transition: 1s;

}
@keyframes load {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(00%);
    }
}
@keyframes down {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(00%);
    }
}
@keyframes downup {
    0%{
        transform: translateY(00%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes loadblack {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(00%);
    }
}
.color_yellow,.color_yellow1{
    animation: load 1s infinite  linear;
    animation-delay: .5s;
    background:var(--);
}
.color_black,.color_black1{
    animation: loadblack 1s infinite linear;
    animation-delay: .6s;
    position: relative;
    z-index: 2;
    background:var(--);
}

.icon_protfolio{
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 30rem;
    flex-direction: column;
    /* margin-right: 3rem; */
}

.icon_protfolio .ic_home, .ic_user , .ic_brief , .ic_chat ,.ic_open{
    position: relative;
    padding: 1rem;
    background: var(--lightheme);
    border-radius: 50%;
    
}
.ic_user{
    background: var(--color);
}

.icon_protfolio .ic_home::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Home";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--lightheme);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_home:hover::after{
    width: 150px;
    background-color: var(--color);
    opacity: 1;
}
.icon_protfolio .ic_user::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "About";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_user:hover::after{
    width: 150px;
    opacity: 1;
}
.icon_protfolio .ic_brief::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Protofolio";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--lightheme);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_brief:hover::after{
    width: 180px;
    background-color: var(--color);
    opacity: 1;
}

.icon_protfolio .ic_open::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Contact";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--lightheme);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_open:hover::after{
    width: 170px;
    background-color: var(--color);
    opacity: 1;
}
.ic_home:hover {background: var(--color);}
.ic_brief:hover {background: var(--color);}
.ic_open:hover {background: var(--color);}

section{
    height: 100vh;
    width: 100%;
}
/* ----------------------------------------------------------------------------------- */
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume h1{
    text-transform: uppercase;
    color: var(--bgc_light);
    font-weight: 900;
    z-index: -1;
    top: 0rem;
    font-size: 6rem;
    position: absolute;
}
.resume h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2.7rem;
}
.resume span{
    text-transform: uppercase;
color: var(--color);
}
.personal_infos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}
.name_ul{
    display: flex;
    gap: 2rem;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 2rem;
    line-height: 5rem;
}
.name_ul li{
    color: var(--bgc_light);
}
.name_ul span{
    font-weight: lighter;
}
.personal_details h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.experinc{
    height: 10rem;
    width: 10rem;
    background-color: #fff;
}
.download{
    border-radius: 2.5rem;
    cursor: pointer;
    padding-left: 1rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    margin-left: 30rem;
    gap: 1rem;
    background-color: transparent;
    border: 4px solid var(--lightheme);
}
.download .down{
     /* background-color: var(--color); */
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    color: var(--white);
}
.download:hover{
    border: 4px solid var(--color);
}
.percent_cricle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.9rem;
    gap: 1rem;
}
.cricle_per{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-auto-rows: 250px;
    justify-content: center;
    grid-gap: 7rem;
}
.line , .line_1{
background-color: var(--line);
    width: 35rem;
    height: .1rem;
}
.percent_cricle h1{
    text-transform: uppercase;
    font-size: 900;
    font-size: 2rem;
}
#html ,#css ,#js ,#php ,#react ,#jquery{
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
  --pgPercentage: var(--value);
  background: radial-gradient(closest-side, var(--bgc) 80%, transparent 0 100%),conic-gradient(var(--color) calc(var(--pgPercentage) * 1%), var(--line) 0);

}
div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }

.cricle_html{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
}
.cricle_html h1{font-size: 1.5rem;}
.education_name{padding-top: 2rem;}
.education_name h1{font-size: 2rem;}
.education_grid{
    display: grid;
    grid-template-columns:auto auto;
    justify-content: center;
    grid-auto-rows:250px;
    grid-gap: 2rem;
    padding-top: 2rem;
}
.education_from{
    /* background-color: #000; */
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 2rem   ;
}
.line_enducation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.icon_line{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#school{
    padding:1rem;
    font-size: 2rem;
    background-color: var(--color);
    border-radius: 50%;
}
.lines{
    width: .2rem;
    height: 5rem;
    background-color: var(--color);
}
.degree{display: inline-flex;
    flex-direction: column;
gap: 2rem;}
.degree h1{
    height: 2rem;
    font-size: 1.5rem;
    padding-left:1rem ;
    padding-top: .2rem;
    width: 5rem;
    background-color: var(--line);
    border-radius: 2rem;
}
.degree span{
    color: var(--lightheme);
}
.menu_bar,#menu{
    display: none;
}
@media (max-width:1125px) {
    html{
    font-size: 80%;
    }
}
@media (max-width:880px) {
    html{
    font-size: 50%;
    }
    section{
        height: 48vh;
        width: 100%;
    }
    .cricle_per{
     grid-template-columns: auto auto auto;
    grid-auto-rows: 153px;
    justify-content: center;
    column-gap: 2rem;
    }
    .education_name {
        padding-top: 14rem;
    }
    .icon_protfolio{
        display: none;
    }
    #menu{
        display: block;
        font-size: 3rem;
        position: absolute;
        z-index: 1;
       }
       .menu_bar{
           background-color: var(--lightheme);
           height: 100%;
           width: 100%;
           display: flex;
           justify-content: center;
           flex-direction: column;
           border-radius: 1rem;
           top: 8.5%;
           position: absolute;
           transform: translateX(-100%);
           transition: transform 1s;
        }
        nav{
            display: inline-flex;
           flex-direction: column;
            font-size: 2.5rem;
            gap: 2rem;
        padding-left: 2rem;
        padding-right: 1rem;
       }
       .bottom{
        display: inline-flex;
        gap: 2rem;
        border-bottom: 2px solid var(--line);
       }
       .bottom:hover{
        border-bottom: 2px solid var(--color);
    }
    .colors{
        border-bottom: 2px solid var(--color);
    }
    .menu0{
        transform: translateX(0%);
        transition: transform 1s;
    }
    
}
@media (max-width:525px) {
    html{
    font-size: 40%;
    }
}@media (max-width:492px) {
    html{
    font-size: 33%;
    }
    .cricle_per{
        grid-auto-rows: 67px;
    }
    .education_name {
        padding-top: 0rem;
    }
    .education_grid{
        grid-auto-rows: 100px;
        grid-gap:0;
    }
  section{
    height: 39vh;
  }
}