*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: aliceblue;
    font-family: sans-serif;
}
:root{
    --color:#ffb400 ;
    --white:#fff;
    --lightheme:#2f2d2d;
    --bgc:#111111;
    --bgc_light:#222222;
    --line:#252525;
}
body{
    background-color: var(--bgc);
}
.icon_protfolio{
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 30rem;
    width: 9rem;
    flex-direction: column;
    /* margin-right: 3rem; */
}

.icon_protfolio .ic_home, .ic_user , .ic_brief , .ic_chat ,.ic_open{
    position: relative;
    padding: 1rem;
    background: var(--color);
    border-radius: 50%;
    
}

.icon_protfolio .ic_home::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Home";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_home:hover::after{
    width: 150px;
    opacity: 1;
}
.icon_protfolio .ic_user::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "About";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_user:hover::after{
    width: 150px;
    opacity: 1;
}
.icon_protfolio .ic_brief::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Protofolio";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_brief:hover::after{
    width: 180px;
    opacity: 1;
}
.icon_protfolio .ic_chat::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Blog";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_chat:hover::after{
    width: 150px;
    opacity: 1;
}
.icon_protfolio .ic_open::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Contact";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_open:hover::after{
    width: 170px;
    opacity: 1;
}


/* ----------------------------------------------------------------------------------- */
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume h1{
    text-transform: uppercase;
    color: var(--bgc_light);
    font-weight: 900;
    z-index: -1;
    top: 0rem;
    font-size: 6rem;
    position: absolute;
}
.resume h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2.7rem;
}
.resume span{
    text-transform: uppercase;
color: var(--color);
}
.personal_infos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}
.name_ul{
    display: flex;
    gap: 2rem;
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 10rem;
    padding-top: 2rem;
    line-height: 5rem;
}
.name_ul li{
    color: var(--bgc_light);
}
.name_ul span{
    font-weight: lighter;
}
.personal_details h1{
    font-size: 3rem;
    text-transform: uppercase;
    padding-right: 52rem;
}
.experinc{
    height: 10rem;
    width: 10rem;
    background-color: #fff;
}
.download{
    border-radius: 2.5rem;
    cursor: pointer;
    padding-left: 1rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    margin-left: 30rem;
    gap: 1rem;
    background-color: transparent;
    border: 4px solid var(--lightheme);
}
.download .down{
     /* background-color: var(--color); */
    padding: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    color: var(--white);
}
.download:hover{
    border: 4px solid var(--color);
}
.percent_cricle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.9rem;
    gap: 1rem;
}
.cricle_per{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-auto-rows: 250px;
    justify-content: center;
    grid-gap: 7rem;
}
.line{
background-color: var(--line);
    width: 35rem;
    height: .1rem;
}
.percent_cricle h1{
    text-transform: uppercase;
    font-size: 900;
    font-size: 2rem;
}
#html ,#css ,#js ,#php ,#react ,#jquery{
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
}
#html{
    border-right:12px solid var(--color) ;
    border-bottom:12px solid var(--bgc_light) ;
    border-left:12px solid var(--bgc_light) ;
    border-top: 12px solid var(--bgc_light);
    transform: rotate(-48deg);
}
#html h1{transform: rotate(48deg);}
#css{
    /* border-right:12px solid var(--color) ;
    border-bottom:12px solid var(--color) ;
    border-top: 12px solid var(--color);
    border-left:12px solid var(--color) ; */
    border: 2px solid  radial-gradient(red 5%, green 15%, blue 60%);
    
}
.cricle_html{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
}
.cricle_html h1{font-size: 1.5rem;}
