*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: aliceblue;
    font-family: sans-serif;
}
:root{
    --color:#ffb400 ;
    --white:#fff;
    --lightheme:#2f2d2d;
    --bgc:#111111;
    --bgc_light:#222222;
    --line:#252525;
    --percent: var(--value)
}
body{
    background-color: var(--bgc);
}
section{
    height: 100%;
    width: 100%;
}
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume h1{
    text-transform: uppercase;
    color: var(--bgc_light);
    font-weight: 900;
    z-index: -1;
    top: 0rem;
    font-size: 10rem;
    position: absolute;
}
.resume h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 4.7rem;
}
.resume span{
    text-transform: uppercase;
    color: var(--color);
}
.protfolio{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 250px;
    grid-gap: 2rem;
    justify-content: center;
    padding: 5rem;
}
.protfolio_grid{
    /* background-color: var(--color); */
    border-radius: 1.5rem;
    overflow: hidden;
}
.protfolio_grid img{
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
}
@media (max-width:990px) {
    .protfolio{
    grid-template-columns: auto auto ;
    }
}
@media (max-width:665px) {
    html{
        font-size: 50%;
    }
    .protfolio{
    grid-template-columns: auto;
    }
}

.color{
    background-color: var(--color);
    height:100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    position: relative;
    z-index: 200;
}
.protfolio_grid:hover .color{
    transform: translateY(0%);
    transition: 0.55s ease-in ;
}

.icon_protfolio{
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 30rem;
    position: fixed;
    top: 25%;
    right: 1%;
    z-index: 1;
    /* width: 9rem; */
    flex-direction: column;
    /* margin-right: 3rem; */
}

.icon_protfolio .ic_home, .ic_user , .ic_brief , .ic_chat ,.ic_open{
    position: relative;
    padding: 1rem;
    background: var(--lightheme);
    border-radius: 50%;
    
}

.icon_protfolio .ic_home::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Home";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--lightheme);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_home:hover::after{
    width: 150px;
    opacity: 1;
}
.icon_protfolio .ic_user::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "About";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--lightheme);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_user:hover::after{
    width: 150px;
    opacity: 1;
}
.icon_protfolio .ic_brief::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Protofolio";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--color);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_brief{
    background: var(--color);
}
.ic_brief:hover::after{
    width: 180px;
    opacity: 1;
}

.icon_protfolio .ic_open::after{
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    content: "Contact";
    position: absolute;
    top: 0;
    right: 20%;
    background-color: var(--lightheme);
    width: 0px;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
    transition: 0.5s all;
    opacity: 0;
}
.ic_open:hover::after{
    width: 170px;
    opacity: 1;
}

